<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid ">

            <a class="navbar-brand" href="/">
                <img src="{{ url_for('static', filename='img/lightning.png') }}" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                <strong class="fs-2">Logs</strong>
                <small>Server/Client exchanges</small>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-8 mb-lg-0 "></ul>
                <div>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-1 fs-4">
                        <li class="nav-item">
                            <a class="nav-link" onclick="showResetPopup(event)">
                                <i class="fa-solid ">Reset</i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="border-bottom border-2 border-warning"></div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
</header>